body {
  font-family: Arial, sans-serif;
  background-color: #371a7c;
  margin: 0;
  padding: 0;
}

/* Styling for the entire To-Do App container */
.todo-app {
  display: flex;
  background: #ffffffb2;
  border: 1px solid #ccccccd3;
  border-radius: 5px;
  margin: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  overflow: hidden; /* Prevent overflow on smaller screens */
}

.left-section,
.center-section,
.right-section {
  padding: 20px;
  border-right: 1px solid #ccc;
  flex: 1;
}

.left-section {
  flex: 0.3; 
}

.vertical-line {
  border-right: 1px solid #ccc;
  height: 100%;
}

.section-title {
  color: #333;
  cursor: pointer;
}

.todo-list {
  list-style: none;
  padding: 0;
  overflow-y: auto;
}

.todo {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 10px 0;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.2s;
}

.todo:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.todo.done {
  background-color: #f0f9e8;
  border: 1px solid #a0d468;
}

.details-label {
  cursor: pointer;
  color: #007bff;
  font-weight: bold;
}

.todo .details-label:hover {
  text-decoration: underline;
}

.todo p {
  margin: 0;
}

.label-input {
  margin: 20px 0;
}

.label-form {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.2s;
}

.label-form:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.label-input input,
.label-input textarea,
.label-input select {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: border-color 0.3s;
}

.label-input input:focus,
.label-input textarea:focus,
.label-input select:focus {
  border-color: #007bff;
}

.label-input button {
  background: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

.label-input button:hover {
  background: #0056b3;
}

.label-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column-reverse;
}

.label-list li {
  cursor: pointer;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  flex: 1;
}

.label-list li:hover {
  transform: translateY(-4px);
}

.label-title {
  font-size: 18px;
  font-weight: bold;
}

.label-category {
  font-size: 14px;
}

.label-list li:nth-child(odd) {
  background-color: #ffc107;
  border: 2px solid #006eff;
}

.label-list li:nth-child(even) {
  background-color: #2196F3;
  border: 2px solid #11dbba;
}

.added-labels {
  margin: 20px 0;
}

.added-labels h3 {
  color: #007bff;
}

.added-labels ul {
  list-style: none;
  padding: 0;
}

.added-labels li {
  cursor: pointer;
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  transition: box-shadow 0.2s;
}

.added-labels li:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.label-details {
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.2s;
  margin: 20px 0;
}

.label-details:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.label-details h2 {
  color: #007bff;
  font-size: 20px;
}

/* Styling for the search bar */
.search-bar {
  margin: 20px 0;
  display: flex;
  align-items: center;
}

.search-bar input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  transition: border-color 0.3s;
}

.search-bar button {
  background: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
  font-size: 16px;
  margin-left: 10px;
}

.search-bar button:hover {
  background: #0056b3;
}

.icon-button {
  font-size: 24px;
  color: #007bff; 
  margin-right: 10px;
  cursor: pointer;
}

.add-label-button {
  background: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
  font-size: 16px;
  margin-right: 10px;
}

.add-label-button:hover {
  background: #0056b3;
}

@media (max-width: 768px) {
  .todo-app {
    flex-direction: column;
  }
  .left-section,
  .center-section,
  .right-section,
  .vertical-line {
    border: none;
    padding: 10px;
  }
  .label-list li {
    margin: 5px;
    padding: 5px;
  }
  .added-labels li {
    margin: 5px 0;
    padding: 5px;
  }
  .label-details {
    padding: 10px;
  }
  .search-bar input {
    padding: 5px;
  }
  .search-bar button {
    padding: 5px 10px;
  }
  .icon-button {
    font-size: 18px;
  }
}

.todo .icon-buttons button {
  background: #007bff; 
  color: #fff; 
  border: none;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  transition: background 0.3s, transform 0.2s;  
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  display: flex;
  justify-content: center;
  align-items: center;
}

.todo .icon-buttons button:hover {
  background: #0056b3; 
  transform: scale(1.1); 
}
